*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 18px;
  --fullWhite: #fff;
  --fullBlack: #000;
  --grey1: #222;
  --grey2: #444;
  --grey3: #666;
  --grey3: #888;
  --grey4: #aaa;
  --grey5: #ccc;
  --grey6: #eee;
  --redError: #db2828;
}

body {
  overflow-x: hidden;
  min-height: 100vh;
  background-color: var(--fullWhite);
  color: var(--grey2);
  line-height: 1.6;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

p {
  text-align: justify;
}

a {
  color: var(--grey2);
  text-decoration: none;
  font-weight: 700;
  font-size: 1rem;
}

ul {
  list-style: none;
}

.dev-nav-title {
  padding-left: 15px;
}

ul.dev-nav {
  padding-left: 15px;
}

ul.dev-nav li {
  display: inline;
  margin-right: 15px;
}

.lang-buttons {
  padding: 2px 15px;
  cursor: pointer;
}
